/* Responsive for Mobile Devices */
@media screen and (max-width: 576.98px) {
  .hide {
    display: none;
  }

  .nav .container,
  .nav .menu ul,
  .online-games .cards,
  .play-instantly .container {
    flex-direction: column;
  }

  .banner .container {
    flex-direction: column-reverse;
  }

  /* navbar part responsive css start */
  .nav {
    padding: 103px 0 60px;
    box-shadow: none;
  }

  .nav .logo {
    margin-bottom: 44px;
  }

  .nav .menu ul li {
    margin: 18px 0 18px 0;
  }

  /* banner part responsive css start */
  .banner-image {
    display: flex;
    justify-content: center;
  }

  .banner .banner-image img {
    width: 80%;
    margin-top: 0;
    margin-bottom: 140px;
  }

  .banner-content {
    align-items: center;
  }

  .banner-content h2 {
    font-size: 3rem;
    width: auto;
    text-align: center;
  }

  .banner-title {
    font-size: 5rem;
  }

  .online-games .cards {
    align-items: center;
  }

  .online-games .cards .card {
    margin-top: 40px;
  }

  .online-games .cards .card p {
    margin: 16px auto 0;
    text-align: center;
  }

  /* play instantly part responsive css start */
  .play-instantly {
    margin-bottom: 0;
  }

  .play-instantly .section-title {
    text-align: center;
  }

  .play-instantly .section-description {
    text-align: center;
    margin-top: 35px;
  }

  .play-instantly .images {
    margin-top: 50px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 30px;
  }

  .play-instantly .images .big-img {
    position: static;
    width: 80%;
  }

  .play-instantly .images .small-img {
    position: relative;
    top: -230px;
    left: -185px;
    width: 55%;
  }

  /* games name part responsive css start */
  .games-name {
    margin-top: -116px;
    padding: 70px 0;
    position: relative;
    z-index: 1;
  }

  .games-name .game {
    margin: 0 5px 12px 0;
    padding: 3px 8px 3px 3px;
  }

  .games-name .sixth {
    margin-right: 0;
  }

  .games-name .last {
    margin-right: 0;
  }

  .games-name .game .game-icon {
    width: 24px;
  }

  .games-name .game-title {
    font-size: 10px;
    margin-left: 5px;
    font-weight: 500;
  }

  /* footer part responsive css start */
  .footer {
    padding: 130px 0 80px;
  }

  .footer .quick-links {
    margin: 27px 0 22px;
  }

  .footer .quick-links ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer .quick-links ul li {
    margin: 18px 20px;
  }

  .footer .follow-us {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer .follow-us img {
    margin: 0 35px 63px;
  }

  .footer .footer-menu {
    margin-bottom: 40px;
  }

  .footer .footer-menu ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer .footer-menu ul li {
    margin: 0 30px 38px;
  }

  .footer .copy-right p {
    max-width: 258px;
    text-align: center;
  }
}

/* Responsive for Tablet Devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
}
