/* Responsive for Mobile Devices */
@media screen and (max-width: 576.98px) {
  .hide {
    display: none;
  }

  .nav .container,
  .nav .menu ul,
  .online-games .cards {
    flex-direction: column;
  }

  .banner .container {
    flex-direction: column-reverse;
  }

  /* navbar part responsive css start */
  .nav {
    padding: 103px 0 60px;
    box-shadow: none;
  }

  .nav .logo {
    margin-bottom: 44px;
  }

  .nav .menu ul li {
    margin: 18px 0 18px 0;
  }

  /* banner part responsive css start */
  .banner-image {
    display: flex;
    justify-content: center;
  }

  .banner .banner-image img {
    width: 80%;
    margin-top: 0;
    margin-bottom: 140px;
  }

  .banner-content {
    align-items: center;
  }

  .banner-content h2 {
    font-size: 3rem;
    width: auto;
    text-align: center;
  }

  .banner-title {
    font-size: 5rem;
  }

  .online-games .cards {
    align-items: center;
  }

  .online-games .cards .card {
    margin-top: 40px;
  }

  .online-games .cards .card p {
    margin: 16px auto 0;
    text-align: center;
  }
}

/* Responsive for Tablet Devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
}
