/* shared styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 21px 40px;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px;
}

.section-description {
  color: #534c64;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
}

/* nav part css start */
.nav {
  padding: 37px 0;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  display: flex;
  align-items: center;
}

.nav .logo img {
  margin-right: 20px;
}

.nav .logo .nav-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.nav .pink-color {
  color: #ff42a5;
}

.nav .menu ul {
  display: flex;
  align-items: center;
}

.nav .menu ul li {
  list-style-type: none;
  margin-left: 32px;
}

.nav .menu ul li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

.nav .menu ul li:first-child {
  margin-left: 0;
}

.nav .menu ul li:last-child a {
  display: flex;
  padding: 16px 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.nav .menu ul li:last-child a .youtube {
  margin: 0 16px 0 24px;
}
/* navbar part css end */

/* banner part css start */
.banner {
  background-image: url("../images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: 50vw;
  background-position: left top;
}

.banner .container {
  display: flex;
  justify-content: space-between;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner-content h2 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-title {
  font-size: 5.9rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 4px;
  color: transparent;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.banner-content ul {
  margin-top: 24px;
}

.banner-content ul li {
  list-style: none;
  display: flex;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
}

.banner-content ul li:last-child {
  margin-bottom: 0;
}

.banner-content ul li img {
  margin-right: 12px;
  width: 24px;
}

.banner .buttons {
  margin-top: 41px;
}

.banner .buttons .first-btn {
  margin-right: 24px;
}

.banner .buttons .second-btn {
  background: #4ec5f7;
}

.banner .banner-image img {
  margin-top: 19px;
}
/* banner part css end */

/* online games part css start */
.online-games {
  margin: 120px 0;
}

.online-games .section-title {
  text-align: center;
}

.online-games .section-title .different-color {
  color: transparent;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.online-games .section-description {
  text-align: center;
  margin-top: 16px;
}
/* online games part css end */
.online-games .cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.online-games .cards .card img {
  margin-bottom: 24px;
}

.online-games .card-description {
  max-width: 342px;
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
}

.online-games .third-card-description {
  max-width: 244px;
}
